.reveal .slide-logo {
  height: 200px !important;
  width: 200px !important;
  max-width: unset !important;
  max-height: unset !important;
}

.title {
  font-size: 40px !important;
  color: white !important;
  margin-right: 0px !important;
}

.quarto-title-author-name {
  font-size: 30px;
  color: white !important;
  text-align: right;
  margin-right: 0px !important;
}


